.font-barlow {
  font-family: 'Barlow Condensed', sans-serif;
}

.text-green-white {
  color: #F3F4EE;
}

.text-alabaster {
  color: #F7F7F7;
}

.bg-alabaster {
  background: #F7F7F7;
}

.md-content > * {
  margin-bottom: 1rem;
}

.md-content p {
  line-height: 1.625;
}

.md-content h2 {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
  .text-7xl {
    font-size: 5rem;
  }
  .text-8xl {
    font-size: 6rem;
  }
}