<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:300,500i,800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href='{{ "css/tailwind.min.css" | absURL }}'>
  <link rel="stylesheet" href='{{ "css/base.css" | absURL }}'>
  {{ template "_internal/google_analytics_async.html" . }}
  {{ if .Title }}
    <title>{{ .Title }} · {{ .Site.Title }}</title>
  {{ else }}
    <title>{{ .Site.Title }}</title>
  {{ end }}
</head>
<body class="font-barlow font-extrabold antialiased">
  <div class="min-h-screen flex flex-col">
    <header class="sticky top-0 px-4 py-4 bg-white shadow z-10">
      <nav class="flex items-center uppercase font-extrabold md:text-lg tracking-wide justify-between md:justify-start text-gray-900">
        <a href="{{ .Site.BaseURL }}" class="md:mr-8">Inicio</a>
        <a href="{{ .Site.BaseURL }}#sobre-la-red" class="md:mr-8">Sobre la red</a>
        <a href="/integrantes">Integrantes</a>
      </nav>
    </header>
    <main class="flex-grow">
      {{ block "main" . }}{{ end }}
    </main>
  </div>
</body>
</html>