{{ define "main" }}
  <div class="px-4 py-24">
    <div class="mx-auto w-full md:w-4/5">
      <h1 class="uppercase text-3xl md:text-5xl tracking-wider mb-10">
        <span class="inline-block bg-black text-green-white px-4">especiales</span>
      </h1>
      {{ $size := len (where .Site.RegularPages "Section" "especiales") }}
      {{ range $index, $data := where .Pages "Section" "especiales" }}
        <div class="{{ if not (eq $size (add $index 1))}}mb-10{{else}}mb-0{{end}}">
          {{ partial "card.html" $data }}
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}