{{ define "main" }}
  <div class="px-4 py-24 bg-cover bg-no-repeat bg-center" style="background-image: url(/images/bg.png)">
    <div class="w-full md:w-4/5 mx-auto">
      <h1 class="uppercase leading-tight text-4xl md:text-6xl mb-10">
        <span class="block">contrataciones</span>
        <span class="block">de la leche en</span>
        <span class="inline-block bg-black text-green-white px-4">américa latina</span>
      </h1>
      <div class="flex items-center">
        <a href="#" class="text-lg md:text-xl uppercase border-2 border-black px-4 py-2 hover:bg-black hover:text-white mr-4">Red de medios</a>
        <a href="#" class="text-lg md:text-xl uppercase border-2 border-black px-4 py-2 hover:bg-black hover:text-white">Especiales</a>
      </div>
    </div>
  </div>
  <div class="px-4 py-24">
    <div class="w-full md:w-4/5 mx-auto">
      {{ $size := len (where .Site.RegularPages "Section" "especiales") }}
      <h2 class="uppercase text-3xl md:text-5xl tracking-wider mb-10">Especiales</h2>
      {{ range $index, $data := where .Pages "Section" "especiales" }}
        <div class="{{ if not (eq $size (add $index 1))}}mb-10{{else}}mb-0{{end}}">
          {{ partial "card.html" $data }}
        </div>
      {{ end }}
    </div>
  </div>
  <div class="px-4 py-24 bg-black">
    <div class="w-full md:w-4/5 mx-auto bg-black text-alabaster">
      <h2 class="uppercase text-3xl md:text-5xl tracking-wider mb-10">Sobre el proyecto</h2>
      <p class="font-medium italic text-lg md:text-xl lg:max-w-4xl">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi eaque voluptatem reprehenderit nostrum ex veritatis accusamus? Ipsa, vitae. Placeat laboriosam reprehenderit odio beatae? Obcaecati eveniet adipisci assumenda architecto in cumque quam, deserunt consequuntur aut recusandae commodi illum harum. Consequuntur, dolorem voluptas recusandae ipsa eum sapiente quasi vitae eos nam aliquid corrupti porro perferendis illo officiis ipsam consectetur officia qui inventore commodi quos minima ducimus? Earum, maxime nemo rerum quidem ea iste corporis, beatae dolores voluptatum aut harum doloribus voluptate eveniet?</p>
    </div>
  </div>
  <div class="px-4 py-24">
    <div class="w-full md:w-4/5 mx-auto">
      <h2 class="uppercase text-3xl md:text-5xl tracking-wider mb-10">red de medios</h2>
      <div class="flex flex-col sm:flex-row sm:flex-wrap items-center sm:justify-center mb-10">
        {{ range where .Pages "Section" "red-de-medios" }}
          <div class="mb-8 sm:mr-4">
            <img src="{{ .Params.logo }}" alt="{{ .Title }}" class="w-56 md:w-32">
          </div>
        {{ end }}
      </div>
      <div class="text-center">
        <a href="#" class="text-lg md:text-xl uppercase border-2 border-black px-4 py-2 hover:bg-black hover:text-white">Explorar todos</a>
      </div>
    </div>
  </div>
{{ end }}