{{ define "main" }}
  <div class="px-4 bg-cover bg-no-repeat bg-center py-16" style="background-image: url(/images/ninez/cover.jpg)">
    <div class="w-full md:w-4/5 m-auto">
      <h3 class="uppercase text-4xl md:text-6xl tracking-wider mb-4 px-4">
        <span class="inline-block bg-black text-green-white px-4">Nadie piensa</span><br>
        <span class="inline-block bg-black text-green-white px-4">en la niñez</span>
      </h3>
      <div class="max-w-sm pl-4 mb-6 text-white">
        <p class="italic font-light text-xl bg-black px-4">Niños, niñas y adolescentes han sido los grandes olvidados en la gestión de la pandemia y la vacunación. Si al contexto global le sumamos una enfermedad o condición catastrófica nos encontramos con vulneraciones gravísimas a los derechos de la niñez provocados por malas contrataciones públicas y un incomprensible exceso de rigor en los protocolos.</p>
      </div>
    </div>
  </div>
  <div class="px-4 py-12 md:py-24 bg-alabaster">
    <div class="w-full md:w-4/5 mx-auto">
      <h2 class="uppercase text-3xl md:text-5xl tracking-wider mb-10">Especiales</h2>
      <div class="flex flex-wrap -m-6">
        <div class="w-full md:w-1/2 text-2xl p-6">
          <p>Los gobiernos olvidan a niños enfermos de cáncer y VIH en la pandemia</p>
          <p class="italic text-xl">Publicado por Eduard Martín-Borregón en Washington Post</p>
          <a href="https://www.washingtonpost.com/es/post-opinion/2021/12/02/ninos-covid-cancer-vih-medicamentos-tratamiento/" target="blank" class="uppercase mt-4 border-2 border-black px-4 py-1 tracking-wider hover:bg-black hover:text-white mr-4 inline-block text-xl">Leer artículo</a>
        </div>
        <!---->
        <div class="w-full md:w-1/2 text-2xl p-6">
          <p>Hospitalizados y solos: Los efectos de la pandemia en niños y niñas con cáncer</p>
          <p class="italic text-xl">Publicado por Ignacia Velasco en La BOT, Chile</p>
          <a href="https://www.labot.cl/hospitalizados-y-solos-los-efectos-de-la-pandemia-en-ninas-y-ninos-con-cancer/" target="blank" class="uppercase mt-4 border-2 border-black px-4 py-1 tracking-wider hover:bg-black hover:text-white mr-4 inline-block text-xl">Leer artículo</a>
        </div>
        <!---->
        <div class="w-full md:w-1/2 text-2xl p-6">
          <p>Recoger los pedazos y sonreír tras la pandemia</p>
          <p class="italic text-xl">Publicado por Claudia Palma, Isaias Morales y Carmen Maldonado en Ojoconmipisto, Guatemala</p>
          <a href="https://www.ojoconmipisto.com/recoger-los-pedazos-y-sonreir-tras-la-pandemia/" target="blank" class="uppercase mt-4 border-2 border-black px-4 py-1 tracking-wider hover:bg-black hover:text-white mr-4 inline-block text-xl">Leer artículo</a>
        </div>
        <!---->
        <div class="w-full md:w-1/2 text-2xl p-6">
          <p>Los niños ya no juegan en los hospitales</p>
          <p class="italic text-xl">Publicado por Ricardo Balderas y Queletzú Aspra en PODER, México</p>
          <a href="https://poderlatam.org/?p=29023" target="blank" class="uppercase mt-4 border-2 border-black px-4 py-1 tracking-wider hover:bg-black hover:text-white mr-4 inline-block text-xl">Leer artículo</a>
        </div>
        <!---->
        <div class="w-full md:w-1/2 text-2xl p-6">
          <p>Cómo varió el tratamiento de VIH y cáncer infantil durante la pandemia</p>
          <p class="italic text-xl">Publicado por Federica Pérez y Bruno Scelza La Diaria, Uruguay</p>
          <a href="https://ladiaria.com.uy/salud/articulo/2021/11/como-vario-el-tratamiento-de-vih-y-cancer-infantil-durante-la-pandemia/" target="blank" class="uppercase mt-4 border-2 border-black px-4 py-1 tracking-wider hover:bg-black hover:text-white mr-4 inline-block text-xl">Leer artículo</a>
        </div>
        <!---->
        <div class="w-full md:w-1/2 text-2xl p-6">
          <p>Ser un niño o una niña con cáncer o VIH en Colombia durante la pandemia</p>
          <p class="italic text-xl">Publicado por Luz Elena Grisales en El Paciente Colombiano, Colombia</p>
          <a href="https://elpacientecolombiano.com/servicios-de-salud/ser-un-nino-o-una-nina-con-cancer-o-vih-en-colombia-durante-la-pandemia/" target="blank" class="uppercase mt-4 border-2 border-black px-4 py-1 tracking-wider hover:bg-black hover:text-white mr-4 inline-block text-xl">Leer artículo</a>
        </div>
        <!---->
        <div class="w-full md:w-1/2 text-2xl p-6">
          <p>Sin poder salir ni quedarse en casa: la situación de los niños y niñas con cáncer o VIH durante la pandemia</p>
          <p class="italic text-xl">Publicado en Cuestión Pública, Colombia</p>
          <a href="https://cuestionpublica.com/sin-poder-salir-ni-quedarse-en-casa-la-situacion-de-los-ninos-y-ninas-con-cancer-o-vih-durante-la-pandemia/" target="blank" class="uppercase mt-4 border-2 border-black px-4 py-1 tracking-wider hover:bg-black hover:text-white mr-4 inline-block text-xl">Leer artículo</a>
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 py-24 bg-black">
    <div class="w-full md:w-4/5 mx-auto bg-black text-alabaster">
      <h2 class="uppercase text-3xl md:text-5xl tracking-wider mb-10">Sobre el proyecto</h2>
      <p class="font-medium italic text-lg md:text-xl lg:max-w-4xl mb-4">Este reportaje forma parte de una investigación regional, liderada por la red de Periodistas de América Latina para la Transparencia y la Anticorrupción (Red PALTA), que integran La Diaria de Uruguay, OjoPúblico de Perú, Datasketch de Colombia, La Nación de Argentina, PODER de México y OjoConMiPisto de Guatemala y El Faro de El Salvador.</p>
    </div>
  </div>
{{ end }}
