{{ define "main" }}
  <div class="px-4 py-24">
    <div class="mx-auto w-full md:w-4/5">
      <h1 class="uppercase text-3xl md:text-5xl tracking-wider mb-10">
        <span class="inline-block bg-black text-green-white px-4">{{ .Title }}</span>
      </h1>
      {{ range where .Pages "Section" "red-de-medios" }}
        <div class="mb-20">
          <img src="{{ .Params.logo | absURL }}" alt="{{ .Title }}" class="w-56">
          <div class="leading-none my-6">
            <h3 class="text-3xl uppercase tracking-wide">{{ .Title }}</h3>
            <p class="text-lg md:text-xl font-medium italic uppercase">{{ .Params.country }}</p>
          </div>
          <div class="text-lg md:text-xl w-full md:max-w-4xl font-light mb-6">
            <p>{{ .Content }}</p>
          </div>
          <a href="{{ .Params.website }}" class="text-lg md:text-xl uppercase border-2 border-black px-4 py-2 hover:bg-black hover:text-white inline-block" target="_blank" rel="noopener noreferrer">Conocer más</a>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}